
.idea/
.vscode/
*.iml
.DS_Store

/build/
.dart_tool/
.metadata
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies

**/android/.gradle
**/android/local.properties
**/android/app/build/

*.env